body {
    margin: 0;
    background-color: rgb(27, 27, 27);
}

p{
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    color: #ddd;
}
main{
    width: 80%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

h1{
    text-align: center;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    color: #ddd;
}

.thLink{
    font-weight: bold;
    font-size: 20px;
}

.divPrincipalText{
    padding: 10px;
    margin: auto;
    width: 100%;
    height: 50%;
}

.divPrincipalText p{
    text-align: justify;
}

.topnavCenter {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #333;
}

.topnavCenter a{
    padding-left: auto;
    padding-right: auto;
    margin: auto;
    width: auto;
    font-size: 22px;
    text-decoration: none;
    color: #f2f2f2;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }
.topnavCenter a:hover {
    background-color: #ddd;
    color: black;
  }
  
.topnavCenter a.active {
    background-color: #4CAF50;
    color: white;
}

#gameScreen{
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    display: block
}

.divProjetLink{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 50px;
    margin-right: 20px;
    width: auto;
    height: 50%;
}

th, td{
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    color: #ddd;
    text-align: left;
    padding-left: 10px;
}

.imageLink{
    width: 100%;
    height: auto;
}

.imageContener{
    width: 200px;
    height: 120px;
}

.tagLangage{
    color: #333;
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 6px;
}