#gameScreen{
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    display: block
}

h1{
    text-align: center;
}

button{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block
}

body{
    background-color: rgb(69, 155, 58);
}

